.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: aqua;
  height: 50px;
  padding:5px;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}